<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {{meta}}
    <title></title>
    {{css}}
  </head>
  <body>
    <span class="preheader"
      >Obrigado por usar a Vain! Juntamos algumas informações que vão te ajudar
      a configurar sua conta.
    </span>
    <table
      class="email-wrapper"
      width="100%"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
    >
      <tr>
        <td align="center">
          <table
            class="email-content"
            width="100%"
            cellpadding="0"
            cellspacing="0"
            role="presentation"
          >
            {{header}}
            <!-- Email Body -->
            <tr>
              <td
                class="email-body"
                width="570"
                cellpadding="0"
                cellspacing="0"
              >
                <table
                  class="email-body_inner"
                  align="center"
                  width="570"
                  cellpadding="0"
                  cellspacing="0"
                  role="presentation"
                >
                  <!-- Body content -->
                  <tr>
                    <td class="content-cell">
                      <div class="f-fallback">
                        <h1>Oi, {{name}}!</h1>
                        <p>
                          Obrigado por usar a Vain! Estamos muito felizes em ter
                          você conosco. Para aproveitar ao máximo a Vain, faça o
                          seguinte:
                        </p>
                        <!-- Action -->
                        <table
                          class="body-action"
                          align="center"
                          width="100%"
                          cellpadding="0"
                          cellspacing="0"
                          role="presentation"
                        >
                          <tr>
                            <td align="center">
                              <!-- Border based button
           https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
                              <table
                                width="100%"
                                border="0"
                                cellspacing="0"
                                cellpadding="0"
                                role="presentation"
                              >
                                <tr>
                                  <td align="center">
                                    <a
                                      href="{{link}}"
                                      class="f-fallback button"
                                      target="_blank"
                                      >Verifique sua conta</a
                                    >
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <p>
                          Se você tiver alguma dúvida, entre em contato com a
                          <a href="mailto:{{support_email}}"
                            >nossa equipe de suporte</a
                          >. (Vamos responder na velocidade da luz.).
                        </p>
                        {{signature}}
                        <!-- Sub copy -->
                        <table class="body-sub" role="presentation">
                          <tr>
                            <td>
                              <p class="f-fallback sub">
                                Se você tiver problemas com o botão acima, copie
                                e cole o URL abaixo em seu navegador da web.
                              </p>
                              <p class="f-fallback sub">{{link}}</p>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            {{footer}}
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
