<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {{meta}}
    <title></title>
    {{css}}
  </head>
  <body>
    <span class="preheader"
      >Use este código para redefinir sua senha. Este código é válido por 24
      horas.
    </span>
    <table
      class="email-wrapper"
      width="100%"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
    >
      <tr>
        <td align="center">
          <table
            class="email-content"
            width="100%"
            cellpadding="0"
            cellspacing="0"
            role="presentation"
          >
            {{header}}
            <!-- Email Body -->
            <tr>
              <td
                class="email-body"
                width="570"
                cellpadding="0"
                cellspacing="0"
              >
                <table
                  class="email-body_inner"
                  align="center"
                  width="570"
                  cellpadding="0"
                  cellspacing="0"
                  role="presentation"
                >
                  <!-- Body content -->
                  <tr>
                    <td class="content-cell">
                      <div class="f-fallback">
                        <h1>Oi, {{name}},</h1>
                        <p>
                          Você solicitou a redefinição de senha para sua conta.
                          Use o código abaixo para redefinir sua senha.
                          <strong>
                            Esta redefinição de senha é válida por 24
                            horas.</strong
                          >
                        </p>
                        <!-- Code -->
                        <table
                          class="discount"
                          align="center"
                          width="100%"
                          cellpadding="0"
                          cellspacing="0"
                          role="presentation"
                        >
                          <tr>
                            <td align="center">
                              <h1 class="f-fallback discount_heading">
                                {{code}}
                              </h1>
                            </td>
                          </tr>
                        </table>
                        <p>
                          Por questões de segurança, se você não solicitou a
                          redefinição de senha, ignore este email ou
                          <a href="mailto:{{support_email}}"
                            >entre em contato com o suporte</a
                          >
                          se tiver dúvidas.
                        </p>
                        {{signature}}
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            {{footer}}
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
