<!DOCTYPE html>
<html>
  <head>
    <title>Verifique sua conta</title>
    {{meta}}
    {{css}}
  </head>
  <body>
    <table class="body-wrap">
      <tr>
        <td class="container">
          <table>
            {{header}}
            <tr>
              <td class="content">
                <h2>Olá, {{name}}!</h2>
                <p>
                  Você solicitou uma recuperação de senha. Caso não tenha sido
                  você, considere urgentemente alterar sua senha ou então entre
                  em contato conosco através do e-mail
                  <a href="mailto:{{helpEmailAddress}}">{{helpEmailAddress}}</a
                  >.
                </p>
                <p>
                  Para prosseguir com a recuperação de senha, utilize o seguinte
                  código:
                </p>
                <table>
                  <tr>
                    <td align="center">
                      <h2>{{code}}</h2>
                    </td>
                  </tr>
                </table>
                {{signature}}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      {{footer}}
    </table>
  </body>
</html>
