<!DOCTYPE html>
<html>
  <head>
    <title>Verifique sua conta</title>
    {{meta}} {{css}}
  </head>
  <body>
    <table class="body-wrap">
      <tr>
        <td class="container">
          <table>
            {{header}}
            <tr>
              <td class="content">
                <h2>Olá, {{name}}!</h2>
                <p>Você foi convidado para criar uma conta na Vain!</p>
                <p>
                  Geramos uma senha de primeiro acesso para você configurar a
                  sua conta. Sua senha é: <strong>{{password}}</strong>
                </p>
                <p>
                  Para começar a usar a plataforma, você só precisa validar o
                  seu endereço de e-mail clicando no link a seguir ou no botão
                  abaixo :)
                </p>
                <table>
                  <tr>
                    <td align="center">
                      <span style="color: #ffffff; font-weight: 300">
                        <a
                          class="button"
                          style="
                            color: #ffffff;
                            text-align: center;
                            text-decoration: none;
                          "
                          href="{{link}}"
                          >Validar minha conta</a
                        >
                      </span>
                    </td>
                  </tr>
                </table>
                <br />
                <p>
                  Caso não consiga pressionar o botão acima, pode usar este
                  link:
                </p>
                <a href="{{link}}">{{link}}</a><br /><br />
                {{signature}}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      {{footer}}
    </table>
  </body>
</html>
